#outer {
  /* border: 1px solid red; */
  width: 91%;
  margin: auto;
  margin-top: 2%;
}
#logo_img {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 35% 65%;
}
#shopping_text {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  font-size: 12px;
  text-align: center;
}
#shopping_text p {
  margin-left: 5%;
  /* border: 1px solid red; */
  text-align: center;
  width: 300%;
  padding: 0.8%;
  height: 2.5vh;
  letter-spacing: 0.2px;
}
.orange_shade {
  color: white;
  background-color: #ffad33;
}
#shop_cart {
  font-size: 24px;
  font-family: "Times New Roman";
  font-weight: 400;
}
#cart_width {
  width: 98%;
}
#cart {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 50% 50%;
  font-family: "Times New Roman";
  padding-left: 3%;
  margin: -2.5% 0%;
  /* height: 7vh; */
  color: #999999;
  width: 75%;
}
#price {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 30%);
  height: 7vh;
  text-align: center;
  color: #999999;
  font-size: 14px;
}
#cart_items {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 70% 30%;
}
#cart_page {
  border: 1px solid red;
}
#total {
  /* border: 1px solid black;    */
  /* height: 50vh; */
  margin-left: 10%;
  margin-top: -5%;
}
#total h2 {
  font-size: 20px;
  font-weight: 400;
}
#price1 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 70% 25%;
  margin-top: -5%;
  color: #666666;
  height: 20vh;
}
#overall_Total {
  margin-left: -20%;
  margin-bottom: -2%;
  font-size: 20px;
  color: #ff7e00;
  font-weight: bold;
}
#promo {
  /* border: 1px solid red; */
  height: 4vh;
  font-size: 14px;
}
#promo p {
  margin: 1%;
}
#input_promo {
  /* border: 1px solid red; */
  font-size: 16px;
  height: 6vh;
  padding-top: 2%;
}
#input_promo input {
  height: 4vh;
  border: 1px solid #999999;
}
#input_promo span {
  /* border: 1px solid black; */
  padding: 1.7% 4%;
  border-radius: 5px;
  background-color: #ff7e00;
  cursor: pointer;
  color: white;
}
#coupon_text {
  /* border: 1px solid red; */
  font-size: 15px;
  letter-spacing: 0.25px;
  color: #858b85;
}
#checkout {
  width: 98%;
  margin: auto;
  height: 3vh;
  padding: 3% 0%;
  text-align: center;
  /* border: 1px solid red;  */
  background-color: #ff9900;
  border-radius: 5px;
}
#proc_check #buyer {
  font-size: 20px;
  color: #66667e;
  margin-left: 2%;
}
#proc_check a {
  text-decoration: none;
  color: white;
}
#refund {
  /* border: 1px solid red; */
  font-size: 15px;
  color: #867777;
  /* width: 80%; */
}
.check_icon {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  gap: 3%;
  align-items: center;
}
#cart_items #cart_list {
  border: 1px solid black;
  border-radius: 2%;
  width: 100%;
  margin-top: 2%;
  /* height: 60vh; */
}
#footer_part {
  /* border: 1px solid red; */
  margin-left: -5%;
}

#address_form {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  width: 98%;
  gap: 5%;
  padding-left: 2%;
  margin-bottom: 5%;
  /* grid-template-columns: repeat(2,20%); */
}
#address_preview {
  /* border: 1px solid red; */
  background-color: rgb(178, 207, 221);
}
#label_input,
#label {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 6vh;
}
#label_input input {
  width: 200%;
  height: 4vh;
}
#in_address {
  display: grid;
  grid-template-columns: repeat(2, 30%);
  /* grid-gap: 20%; */
  width: 80%;
}
#label label {
  margin-top: 4%;
  font-size: 18px;
}
#payment_options {
  display: flex;
  flex-direction: row;
  gap: 2%;
  /* grid-template-rows: 20%, 80%; */
  border: 1px solid black;
  border-radius: 1%;
  width: 69%;
  /* height: 60vh; */
}
#card_Image {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin-bottom: 80%; */
  height: 10vh;
  border: 1px solid rgb(175, 168, 168);
  width: 30%;
  cursor: pointer;
}
#card_Image img {
  width: 100%;
  cursor: pointer;
  margin-left: 5%;
}
#cards {
  /* border: 1px solid blue; */
  width: 100%;
  margin: 0% 1.5%;
}
#card_img_big {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  color: #6a6a6a;
}
#card_img_big img {
  width: 60%;
}
#bill_address {
  font-size: 14px;
  color: black;
}
#add_check {
  font-size: 13px;
  margin-top: 2%;
}
#price1 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 65% 35%;
  margin-top: -5%;
  color: #666666;
  height: 20vh;
}
#all_total {
  /* border:1px solid red; */
  margin-left: -15%;
  width: 100%;
  text-align: end;
}
