body {
  width: 40%;
  margin: auto;
  /* border: 1px solid red; */
}
#bill_details {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  /* padding-top: -20%; */
}
.bill_id {
  display: grid;
  grid-template-columns: auto;
  /* grid-gap: -20%; */
  font-size: 15px;
  color: #989393;
  /* text-align: right; */
}
.bill_id1 {
  text-align: right;
}
#price {
  color: green;
  font-size: 20px;
  font-weight: 1400%;
}
#enter_card #img img {
  width: 60%;
  margin-bottom: 5%;
}
#card_num input {
  width: 98.5%;
  height: 6vh;
  border: 1px solid #989393;
  border-radius: 5px;
}
.line {
  border: 0.5px solid #cac0c0;
  margin-top: -2%;
}
#expiry input {
  width: 48%;
  border-radius: 5px;
  height: 6vh;
  border: 1px solid #989393;
  margin-top: 2%;
}
#code {
  margin-left: 0.75%;
}
#pay,
#cancel {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 3%;
  height: 6vh;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
#pay {
  background-color: #02993b;
  color: white;
}
#cancel {
  background-color: #e5e5e5;
}
#img_png {
  margin-left: -5%;
  margin-top: 4%;
}
